
creat-user {

}
.hidden {
    animation: modal-close 2s;
    display: none;
}

@keyframes modal-animation {
    0% {
        width: 100px;
        min-height: 0;
    }

    50% {
        width: 100%;
    }

    100% {}
}
